In [1]:
import pandas as pd
import numpy as np
import csv
import time, operator
import os
import sys

In [26]:
df = pd.DataFrame({},columns = ['phrase','context','intent'])
df

Empty DataFrame
Columns: [phrase, context, intent]
Index: []

In [27]:
df2 = pd.DataFrame({1,2,3},columns = ['phrase','context','intent'])
df2

PandasError: DataFrame constructor not properly called!

In [8]:
df = df.append([6,7,8])

In [30]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [31]:
data = pd.DataFrame({"A": range(3)})
data

   A
0  0
1  1
2  2

In [32]:
df.append(data)

   A
0  0
1  1
2  2

In [33]:
df = df = pd.DataFrame({},columns = ['phrase','context','intent'])

In [57]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [58]:
df = pd.DataFrame(d,columns=['si','r',])
df

Empty DataFrame
Columns: [si, r]
Index: []

In [59]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [65]:
df = pd.DataFrame(data2)
df

   a   b   c
0  1   2 NaN
1  5  10  20

In [66]:
df=df.append({'a':90},ignore_index=True)

In [67]:
df

    a   b   c
0   1   2 NaN
1   5  10  20
2  90 NaN NaN

In [73]:
df = pd.DataFrame({},columns = ['phrase','context','intent'])
df

Empty DataFrame
Columns: [phrase, context, intent]
Index: []

In [74]:
df=df.append({'phrase':90},ignore_index=True)

In [75]:
df

   phrase  context  intent
0      90      NaN     NaN

In [76]:
a = input('go')

gofzf

In [77]:
a

'fzf'