In [7]:
import pandas as pd
import numpy as np
import csv
import time, operator
import os
import sys
from string import maketrans

In [26]:
df = pd.DataFrame({},columns = ['phrase','context','intent'])
df

Empty DataFrame
Columns: [phrase, context, intent]
Index: []

In [27]:
df2 = pd.DataFrame({1,2,3},columns = ['phrase','context','intent'])
df2

PandasError: DataFrame constructor not properly called!

In [8]:
df = df.append([6,7,8])

In [30]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [31]:
data = pd.DataFrame({"A": range(3)})
data

   A
0  0
1  1
2  2

In [32]:
df.append(data)

   A
0  0
1  1
2  2

In [33]:
df = df = pd.DataFrame({},columns = ['phrase','context','intent'])

In [57]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}

In [58]:
df = pd.DataFrame(d,columns=['si','r',])
df

Empty DataFrame
Columns: [si, r]
Index: []

In [59]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [65]:
df = pd.DataFrame(data2)
df

   a   b   c
0  1   2 NaN
1  5  10  20

In [66]:
df=df.append({'a':90},ignore_index=True)

In [67]:
df

    a   b   c
0   1   2 NaN
1   5  10  20
2  90 NaN NaN

In [81]:
df = pd.DataFrame({},columns = ['phrase','context','intent'])
df

Empty DataFrame
Columns: [phrase, context, intent]
Index: []

In [88]:
df=df.append({'phrase':90},ignore_index=True)

In [89]:
df

   phrase  context  intent
0      90      NaN     NaN
1      90      NaN     NaN
2      90      NaN     NaN

In [76]:
a = input('go')

gofzf

In [77]:
a

'fzf'

In [78]:
df

   phrase  context  intent
0      90      NaN     NaN

In [80]:
df.size

3

In [85]:
df.tail(2)

   phrase  context  intent
0      90      NaN     NaN

In [91]:
df.ix[:-1]

Empty DataFrame
Columns: [phrase, context, intent]
Index: []

In [92]:
df

   phrase  context  intent
0      90      NaN     NaN
1      90      NaN     NaN
2      90      NaN     NaN

In [93]:
del df.ix[:-1]

AttributeError: __delitem__

In [94]:
df

   phrase  context  intent
0      90      NaN     NaN
1      90      NaN     NaN
2      90      NaN     NaN

In [98]:
df.iloc[-1,]

phrase     90
context   NaN
intent    NaN
Name: 2, dtype: float64

In [101]:
df.drop(df.index[len(df)-1])

   phrase  context  intent
0      90      NaN     NaN
1      90      NaN     NaN

In [6]:


word_label=False
with open('./data/inputs/sentences.txt', 'w+') as sentences:
    with open('./data/inputs/labels.txt', 'w+') as labels:
        with open('./treevertical/data/dataformated.csv', 'rb') as f:
            reader = csv.DictReader(f, fieldnames=['label', 'sentence'], delimiter=';')
            if word_label == True:
                label_index = self.label_indexing()
            i = 0
            for row in reader:
                if row['sentence']=='' or row['label']=='':
                    pass
                else:
                    if i == 0:
                        i += 1
                    else:
                        txt = parse(row['sentence'])
                        if word_label == True:
                            label = label_index[row['label']]
                        else:
                            label = row['label']
                        sentences.write(txt+'\n')
                        labels.write(str(label)+'\n')
print('number of classes:', self.get_number_of_classes())
print('classes names:')
target_names = self.get_classes_names()  # here we save classes into the json
pprint(target_names)
print('...csv preprocessing ended')

NameError: global name 'maketrans' is not defined

In [5]:
def parse(txt):
    """ We create the dictionary from the labeled data """
    # Input : Liste de 2-uple contenant (mail,label)
    # 0utput : Dictionnaire = liste de 2-uple avec l'ensemble des mots de tous les mails (mot,count)

    not_letters_or_digits =u'!"#%\'()*+,-./:;<=>?@[\]^_`{|}~1234567890'
    empty = u' '*len(not_letters_or_digits)
    trantab = maketrans(not_letters_or_digits, empty)
    stemmer = FrenchStemmer()

    a = txt.lower() # On met tout en minuscule
    a = a.replace('\n',' ') # On enleve les retours à la ligne
    a = a.replace('\r',' ') # On enleve les retours à la ligne
    a = a.translate(trantab) # On enleve la ponctuation
    a = a.decode('utf-8', 'replace')
    a = a.split() # On répartit selon les espaces
    #a = [stemmer.stem(word) for word in a]

    a = [word for word in a if not word.isdigit()]
    stop = stopwords.words('french')
    a = [word for word in a if not (word in stop)]  # On enleve les stopwords
    a = ' '.join(a)
    a = a.encode('utf-8', 'ignore')
    a = unicodedata.normalize('NFKD', unicode(a, 'utf-8')).encode('ASCII', 'ignore') # On enleve les accents et caractères speciaux
    a = ' '.join([word.strip(' \t\n\r') for word in a.split()])

    return a